<h2>
  Bookmarks
  <span ng-if="filter">
    | filtered by: {{filter}}
    <md-button ng-click="clearFilter()" class="clear-filter md-fab md-mini">x</md-button>
  </span>
</h2>

<md-card ng-repeat="bookmark in bookmarks | filter:filter" md-theme="{{ $even ? 'default' : 'lime' }}">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">
        {{bookmark.name}}
      </span>
      <span class="md-subhead">
        <a href="{{bookmark.url}}" target="_blank">{{bookmark.url}}</a>
      </span>
      <span class="md-subhead">
        {{bookmark.tags.join(', ')}}
      </span>
    </md-card-title-text>
  </md-card-title>
  <md-card-actions layout="row" layout-align="end center">
    <md-button href="#/edit/{{bookmark._id.$oid}}">Edit</md-button>
    <md-button class="delete-bookmark" ng-click="delete(bookmark)">Delete</md-button>
  </md-card-actions>
</md-card>
