<section ng-repeat="cust in customers" class="section">
  <div class="container">
    <h2 class="subtitle">{{cust.fname}} {{cust.lname}}</h2>
    <table class="table is-bordered is-narrow">
      <thead>
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="order in cust.orders">
          <td>{{order.name}}</td>
          <td>{{order.qty}}</td>
          <td>{{order.price | currency:"$":2}}</td>
          <td>{{order.qty * order.price | currency:"$":2}}</td>
        </tr>
        <tr>
          <td colspan="3">Total</td>
          <td>{{calculateCustomerTotal(cust) | currency:"$":2}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
