<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Note Wrangler</title>
		<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.css">
	</head>
	<body>
		<h1>hello angular</h1>

		<!-- vendor -->
		<script src="vendor/jquery/dist/jquery.js"></script>
		<script src="vendor/angular/angular.js"></script>
		<script src="vendor/angular-route/angular-route.js"></script>
		<script src="vendor/angular-resource/angular-resource.js"></script>

		<!-- app -->

		<!-- directives -->

		<!-- controllers -->

		<!-- services -->
	</body>
</html>
