<section class="section">
  <div class="container">
    <form class="columns" ng-submit="$ctrl.add(customer)">
      <p class="column">
        <input ng-model="customer.fname" type="text" placeholder="First name" class="input" required>
      </p>
      <p class="column">
        <input ng-model="customer.lname" type="text" placeholder="Last name" class="input" required>
      </p>
      <p class="column">
        <input ng-model="customer.city" type="text" placeholder="City" class="input" required>
      </p>
      <p class="column no-flex-grow">
        <input type="submit" value="Add customer" class="button is-primary">
      </p>
    </form>
  </div>
</section>
