<section class="section">
  <div class="container">
    <form class="columns">
      <p class="column">
        <select class="select input">
          <option selected>Choose category</option>
        </select>
      </p>
      <p class="column">
        <select class="select input">
          <option selected>Choose product</option>
        </select>
      </p>
      <p class="column no-flex-grow">
        <input type="submit" value="Add order" class="button is-primary">
      </p>
    </form>
  </div>
</section>
