<header class="header">
  <div class="container">
    <div class="header-left">
      <h1 class="title is-1">Customer Management</h1>
    </div>
    <nav class="header-right">
      <ul class="is-flex" toggle-active>
        <li><a href="/customers" class="header-tab is-active">Customers</a></li>
        <li><a href="/orders" class="header-tab">Orders</a></li>
      </ul>
    </nav>
  </div>
</header>

<ng-outlet></ng-outlet>

<footer class="footer">
  <div class="container">
    I am the footer
  </div>
</footer>
