@font-face {
  font-family: 'Kaffesatz';
  src: url('../fonts/yanonekaffeesatz-regular-webfont.ttf');
}

$background-color: #cdc8ba;
$form-background-color: #f4efe6;
$gray: #7c7873;
$dark-blue: #435c70;

#form-wrap {
	font-family: 'Kaffesatz', Arial, sans-serif;
	width: 640px;
	margin: 0 auto;
	padding: 12px 16px 0 16px;
	color: $gray;
	background-color: $background-color;
	background-image: url('../images/envelope-over.png'), url('../images/envelope-under.png'), url('../images/form-background.png');
	background-position: center bottom, center bottom, left top;
	background-repeat: no-repeat, no-repeat, repeat;

	h1 {
		text-align: center;
		font-size: 200%;
		margin-top: 0;
	}
}

form {
	width: 400px;
	height: 550px;
	margin: 0 auto;
	padding-top: 25px;
	color: #7C7873;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background-color: $form-background-color;
	background-image: url('../images/envelope-over.png');
	background-position: center bottom;
	background-repeat: no-repeat;

	label {
		display: block;
		width: 90%;
		margin: 0 auto;

		span {
			display: block;
			font-size: 120%;

			&.capitalized {
				text-transform: uppercase;
				font-size: 75%;
				color: lighten($gray, 15%);
			}
		}
	}

	textarea, input {
		display: block;
		width: 100%;
		outline: 0;
		border: 1px solid lighten($gray, 30%);
		border-radius: 5px;
		margin: 0 0 12px 0;
		padding: 4px 0 4px 0;
		text-indent: 8px;
		font-family: Helvetica, Arial, sans-serif;
		background-color: $form-background-color;

		&:focus {
			background-color: lighten($form-background-color, 5%);
		}
	}

	textarea {
		max-width: 100%;
		height: 100px;
		max-height: 100px;
	}

	input {
		height: 24px;

		&[type='submit'] {
			width: 50%;
			height: auto;
			margin: 20px auto 0 auto;
			padding: 12px 0 12px 0;
			border: 0;
			color: $gray;
			font-size: 110%;

			&:hover {
				background-color: lighten($dark-blue, 40%);
				color: $dark-blue;
				cursor: pointer;
			}
		}
	}
}