@font-face {
  font-family: 'Kaffesatz';
  src: url("../fonts/yanonekaffeesatz-regular-webfont.ttf");
}
#form-wrap {
  font-family: 'Kaffesatz', Arial, sans-serif;
  width: 640px;
  margin: 0 auto;
  padding: 12px 16px 0 16px;
  color: #7c7873;
  background-color: #cdc8ba;
  background-image: url("../images/envelope-under.png"), url("../images/form-background.png");
  background-position: center bottom, left top;
  background-repeat: no-repeat, repeat;
}
#form-wrap h1 {
  text-align: center;
  font-size: 200%;
  margin-top: 0;
}

form {
  width: 400px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 160px;
  color: #7C7873;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #f4efe6;
  background-image: url("../images/envelope-over.png");
  background-position: center bottom;
  background-repeat: no-repeat;
}
form label {
  display: block;
  width: 90%;
  margin: 0 auto;
}
form label span {
  display: block;
  font-size: 120%;
}
form label span.capitalized {
  text-transform: uppercase;
  font-size: 75%;
  color: #a19e9a;
}
form textarea, form input {
  display: block;
  width: 100%;
  outline: 0;
  border: 1px solid #c6c4c2;
  border-radius: 5px;
  margin: 0 0 12px 0;
  padding: 4px 0 4px 0;
  text-indent: 8px;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f4efe6;
}
form textarea:focus, form input:focus {
  background-color: #fcfaf8;
}
form textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 80px;
  height: 100px;
  overflow: hidden;
}
form input {
  height: 24px;
}
form input[type='submit'] {
  width: 50%;
  height: auto;
  margin: 20px auto 0 auto;
  padding: 12px 0 12px 0;
  border: 0;
  color: #7c7873;
  font-size: 110%;
}
form input[type='submit']:hover {
  background-color: #b0c1cf;
  color: #435c70;
  cursor: pointer;
}
