<cm-customer-add></cm-customer-add>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-one-third" ng-repeat="cust in customers">
        <div class="panel">
          <h2 class="panel-heading">
            <a ng-href="/customers/{{cust.id}}">{{cust.fname}} {{cust.lname}}</a>
            <button class="delete is-pulled-right"></button>
          </h2>
          <div class="panel-block">
            <p>{{cust.city}}</p>
            <p>{{cust.orders.length}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
